# FastAPI 및 웹 서버
fastapi==0.115.8
uvicorn==0.34.0
pydantic==2.10.6

# LangChain 및 AI 관련
langchain==0.3.19
langchain-core==0.3.37
langchain-community==0.3.18
langchain-openai==0.3.6
langchain-google-genai==2.0.10
langgraph==0.2.74
langgraph-checkpoint==2.0.16
langgraph-sdk==0.1.51

# LLM API 관련
google-generativeai==0.8.4
openai==1.64.0

# 벡터 검색 및 추천
faiss-cpu==1.10.0

# DB 관련
mysql-connector-python==9.2.0
PyMySQL==1.1.1

# 데이터 처리
numpy==1.26.4
pandas==2.2.3

# 환경 변수 관리
python-dotenv==1.0.1
